.menu,
.menu * {
  box-sizing: border-box;
}
.menu {
  background: #ffe9c9;
  height: 3298px;
  position: relative;
  overflow: hidden;
}
.rectangle-6 {
  background: #e0c59f;
  width: 1440px;
  height: 556px;
  position: absolute;
  left: 1px;
  top: 2747px;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 515px;
  height: 366px;
  position: absolute;
  left: 847px;
  top: 1917px;
}
.price {
  flex-shrink: 0;
  width: 515px;
  height: 269px;
  position: static;
}
.z-5210089378370-3514-e-9-f-5-dd-6-e-08-a-8-e-0-fb-663-ee-77395-fc-1 {
  border-radius: 19px;
  width: 515px;
  height: 269px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.copy {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.product {
  color: #000000;
  text-align: left;
  font-family: var(--body-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--body-text-font-size, 20px);
  line-height: var(--body-text-line-height, 150%);
  font-weight: var(--body-text-font-weight, 500);
  position: relative;
  align-self: stretch;
}
._25-000-vnd {
  color: #000000;
  text-align: left;
  font-family: var(--body-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--body-text-font-size, 20px);
  line-height: var(--body-text-line-height, 150%);
  font-weight: var(--body-text-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.card2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 515px;
  height: 366px;
  position: absolute;
  left: 847px;
  top: 2315px;
}
.foody-upload-api-foody-mobile-co-b-81-a-5-d-89-230227211258-1 {
  border-radius: 19px;
  flex-shrink: 0;
  width: 515px;
  height: 254px;
  position: relative;
  object-fit: cover;
}
.tr-s-a {
  color: #000000;
  text-align: left;
  font-family: var(--body-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--body-text-font-size, 20px);
  line-height: var(--body-text-line-height, 150%);
  font-weight: var(--body-text-font-weight, 500);
  position: relative;
  align-self: stretch;
}
._30-000-vnd {
  color: #000000;
  text-align: left;
  font-family: var(--body-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--body-text-font-size, 20px);
  line-height: var(--body-text-line-height, 150%);
  font-weight: var(--body-text-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.copy2 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: center;
  width: 735px;
  position: absolute;
  left: 80px;
  top: 2583px;
}
.soda-blue {
  color: #000000;
  text-align: left;
  font-family: var(--body-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--body-text-font-size, 20px);
  line-height: var(--body-text-line-height, 150%);
  font-weight: var(--body-text-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.z-5210089325554-e-77749243-ed-66-ec-2798-c-65-b-4395-e-5-eb-8-3 {
  border-radius: 19px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 597px;
  height: 662px;
  position: absolute;
  left: 65px;
  top: 1905px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
}
.m-n-n-c {
  color: #000000;
  text-align: left;
  font-family: var(--heading-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--heading-font-size, 40px);
  line-height: var(--heading-line-height, 110%);
  font-weight: var(--heading-font-weight, 600);
  position: absolute;
  left: 80px;
  top: 1841px;
  width: 742px;
}
.card3 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 404px;
  height: 366px;
  position: absolute;
  left: 80px;
  top: 957px;
}
.image-4 {
  opacity: 0.7200000286102295;
  flex-shrink: 0;
  width: 404px;
  height: 241px;
  position: relative;
  object-fit: cover;
}
.b-n-b {
  color: #000000;
  text-align: left;
  font-family: var(--body-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--body-text-font-size, 20px);
  line-height: var(--body-text-line-height, 150%);
  font-weight: var(--body-text-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.card4 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 404px;
  height: 366px;
  position: absolute;
  left: 519px;
  top: 957px;
}
.image-5 {
  opacity: 0.7200000286102295;
  flex-shrink: 0;
  width: 404px;
  height: 247px;
  position: relative;
  object-fit: cover;
}
.rau-x-o {
  color: #000000;
  text-align: left;
  font-family: var(--body-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--body-text-font-size, 20px);
  line-height: var(--body-text-line-height, 150%);
  font-weight: var(--body-text-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.card5 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 404px;
  height: 366px;
  position: absolute;
  left: 958px;
  top: 957px;
}
.image-6 {
  flex-shrink: 0;
  width: 399px;
  height: 243px;
  position: relative;
  object-fit: cover;
}
.ch-gi {
  color: #000000;
  text-align: left;
  font-family: var(--body-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--body-text-font-size, 20px);
  line-height: var(--body-text-line-height, 150%);
  font-weight: var(--body-text-font-weight, 500);
  position: relative;
  align-self: stretch;
}
._35-000-vnd {
  color: #000000;
  text-align: left;
  font-family: var(--body-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--body-text-font-size, 20px);
  line-height: var(--body-text-line-height, 150%);
  font-weight: var(--body-text-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.card6 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 404px;
  height: 366px;
  position: absolute;
  left: 80px;
  top: 1344px;
}
.image-7 {
  flex-shrink: 0;
  width: 404px;
  height: 225px;
  position: relative;
  object-fit: cover;
}
.cu-n-b-nh-tr-ng {
  color: #000000;
  text-align: left;
  font-family: var(--body-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--body-text-font-size, 20px);
  line-height: var(--body-text-line-height, 150%);
  font-weight: var(--body-text-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.card7 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 404px;
  height: 366px;
  position: absolute;
  left: 519px;
  top: 1344px;
}
.image-9 {
  flex-shrink: 0;
  width: 404px;
  height: 226px;
  position: relative;
  object-fit: cover;
}
.canh-c {
  color: #000000;
  text-align: left;
  font-family: var(--body-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--body-text-font-size, 20px);
  line-height: var(--body-text-line-height, 150%);
  font-weight: var(--body-text-font-weight, 500);
  position: relative;
  align-self: stretch;
}
._40-000-vnd {
  color: #000000;
  text-align: left;
  font-family: var(--body-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--body-text-font-size, 20px);
  line-height: var(--body-text-line-height, 150%);
  font-weight: var(--body-text-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.card8 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 404px;
  height: 366px;
  position: absolute;
  left: 958px;
  top: 1344px;
}
.image-14 {
  opacity: 0.75;
  flex-shrink: 0;
  width: 404px;
  height: 225px;
  position: relative;
  object-fit: cover;
}
.g-quay {
  color: #000000;
  text-align: left;
  font-family: var(--body-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--body-text-font-size, 20px);
  line-height: var(--body-text-line-height, 150%);
  font-weight: var(--body-text-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.m-n-n {
  color: #000000;
  text-align: left;
  font-family: var(--heading-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--heading-font-size, 40px);
  line-height: var(--heading-line-height, 110%);
  font-weight: var(--heading-font-weight, 600);
  position: absolute;
  left: 81px;
  top: 881px;
  width: 755px;
}
.header-with-image {
  background: linear-gradient(to left, #f7f7f7, #f7f7f7);
  border-radius: 8px;
  width: 1275px;
  height: 597px;
  position: absolute;
  left: calc(50% - 638px);
  top: 200px;
  overflow: hidden;
}
.copy3 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  width: 65.96%;
  position: absolute;
  right: 16.63%;
  left: 17.41%;
  top: 192px;
}
.menu2 {
  color: #ffffff;
  text-align: center;
  font-family: var(--title-font-family, "Inter-Bold", sans-serif);
  font-size: var(--title-font-size, 64px);
  letter-spacing: var(--title-letter-spacing, -0.02em);
  font-weight: var(--title-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.navigation-button {
  position: absolute;
  inset: 0;
}
.rectangle-4 {
  border-radius: 0px;
  width: 167px;
  height: 64px;
  position: absolute;
  left: 554px;
  top: 298px;
  overflow: visible;
}
.t-ngay {
  color: #ffffff;
  text-align: left;
  font-family: "DavidLibre-Medium", sans-serif;
  font-size: 20px;
  line-height: 29px;
  font-weight: 500;
  position: absolute;
  left: 585px;
  top: 314px;
}
.icon-carrot {
  width: 44px;
  height: 44px;
  position: absolute;
  left: 664px;
  top: 308px;
  overflow: visible;
}
.black-logo-3 {
  width: 370px;
  height: 370px;
  position: absolute;
  left: 37px;
  top: -71px;
  object-fit: cover;
}
.navigation {
  position: absolute;
  inset: 0;
}
.menu3 {
  color: #101a24;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 29px;
  font-weight: 400;
  position: absolute;
  left: 446px;
  top: 67px;
}
.gallery {
  color: #101a24;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 29px;
  font-weight: 400;
  position: absolute;
  left: 630px;
  top: 67px;
}
.about {
  color: #101a24;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 29px;
  font-weight: 400;
  position: absolute;
  left: 728px;
  top: 67px;
}
.contact {
  color: #101a24;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 29px;
  font-weight: 400;
  position: absolute;
  left: 819px;
  top: 67px;
}
.events {
  color: #101a24;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 29px;
  font-weight: 400;
  position: absolute;
  left: 534px;
  top: 67px;
}
.rectangle-42 {
  border-radius: 0px;
  width: 167px;
  height: 64px;
  position: absolute;
  left: 1138px;
  top: 51px;
  overflow: visible;
}
.t-ngay2 {
  color: #ffffff;
  text-align: left;
  font-family: "DavidLibre-Medium", sans-serif;
  font-size: 20px;
  line-height: 29px;
  font-weight: 500;
  position: absolute;
  left: 1169px;
  top: 67px;
}
.icon-carrot2 {
  width: 44px;
  height: 44px;
  position: absolute;
  left: 1248px;
  top: 61px;
  overflow: visible;
}
.group {
  opacity: 0.10000000149011612;
  height: auto;
  position: absolute;
  left: -136.24px;
  top: 957px;
  overflow: visible;
}
.copyrighter-section {
  position: absolute;
  inset: 0;
}
.icons-8-instagram-2 {
  width: 21px;
  height: 20px;
  position: absolute;
  left: 731px;
  top: 2883px;
  overflow: visible;
}
.image-3 {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 783px;
  top: 2879px;
  object-fit: cover;
}
.th-hai-th-s-u-8-00-am-to-9-00-pm {
  color: #5c6574;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 29px;
  font-weight: 400;
  position: absolute;
  left: 164px;
  top: 3058px;
}
.th-b-y-8-00-am-to-9-00-pm {
  color: #5c6574;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 29px;
  font-weight: 400;
  position: absolute;
  left: 355px;
  top: 3058px;
}
.ch-nh-t-closed {
  color: #5c6574;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 29px;
  font-weight: 400;
  position: absolute;
  left: 546px;
  top: 3058px;
}
.group-9 {
  width: 395px;
  height: 160px;
  position: static;
}
.menu-event-about-us-gallery {
  color: #5c6574;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 400;
  position: absolute;
  left: 671px;
  top: 2956px;
  width: 395px;
}
.th-i-gian-m-c-a {
  color: #101a24;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 12px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 164px;
  top: 3003px;
}
.group-11 {
  width: 146px;
  height: 126px;
  position: static;
}
.facebook {
  width: 38.88px;
  height: 38.88px;
  position: static;
}
.ellipse-2 {
  border-radius: 50%;
  border-style: solid;
  border-color: #101a24;
  border-width: 1px;
  width: 38.88px;
  height: 38.88px;
  position: absolute;
  left: 669px;
  top: 2872px;
}
.image-1 {
  width: 25.05px;
  height: 25.05px;
  position: absolute;
  left: 675.91px;
  top: 2878.91px;
  object-fit: cover;
}
.ellipse-22 {
  border-radius: 50%;
  border-style: solid;
  border-color: #101a24;
  border-width: 1px;
  width: 38.88px;
  height: 38.88px;
  position: absolute;
  left: 776.12px;
  top: 2872px;
}
.ellipse-23 {
  border-radius: 50%;
  border-style: solid;
  border-color: #101a24;
  border-width: 1px;
  width: 38.88px;
  height: 38.88px;
  position: absolute;
  left: 722.56px;
  top: 2872px;
}
.follow-us {
  color: #101a24;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 12px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 671px;
  top: 2830px;
}
.contact-us {
  color: #101a24;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 12px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 671px;
  top: 2916px;
}
.line-2 {
  border-style: solid;
  border-color: #101a24;
  border-width: 1px 0 0 0;
  opacity: 0.10000000149011612;
  width: 1152px;
  height: 0px;
  position: absolute;
  left: 163px;
  top: 3163px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.copyright {
  width: 269px;
  height: 29px;
  position: static;
}
.terms-of-service-privacy-policy {
  color: #5c6574;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 29px;
  font-weight: 400;
  position: absolute;
  left: 1047px;
  top: 3198px;
}
.black-logo-4 {
  width: 418px;
  height: 411px;
  position: absolute;
  left: 51px;
  top: 2685px;
  object-fit: cover;
}
